body{
	background-color: #f2f2f2;
	background: url(../image/duck.jpg) ;
	background-repeat: repeat;
	min-height: 100px;
	background-size: 30%;
	font-family: Corbel;
}
form{
	background-color: white;
	border: 1px solid black;
	width: 400px;
	margin-left: 500px;
	margin-top: 150px;
	border-radius: 10px;
	padding: 10px 5px 10px;
}
table{
	margin-left: 15px;
}
.kirim{
	padding: 10px 20px 10px;
	background-color: #373737;
	color: white;
	height: 35px;
}
.kirim:hover{
	background-color: #737373;
}
input{
	height: 30px;
}
h3{
	font-size: 25px;
	border-bottom: 1px solid black;
	padding-bottom: 15px; 
}
p{
	color: red;
}